<configuration>
    <!-- Console Appender 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Discord Appender 설정 -->
    <springProperty scope="context" name="infoWebhookUrl" source="discord.webhook.info"/>
    <springProperty scope="context" name="errorWebhookUrl" source="discord.webhook.error"/>
    <springProperty scope="context" name="warnWebhookUrl" source="discord.webhook.warn"/>

    <appender name="DISCORD_INFO" class="com.lchproject3.project3.global.discord.DiscordAppender">
        <webhookUrl>${infoWebhookUrl}</webhookUrl>
    </appender>
    <appender name="DISCORD_ERROR" class="com.lchproject3.project3.global.discord.DiscordAppender">
        <webhookUrl>${errorWebhookUrl}</webhookUrl>
    </appender>
    <appender name="DISCORD_WARN" class="com.lchproject3.project3.global.discord.DiscordAppender">
        <webhookUrl>${warnWebhookUrl}</webhookUrl>
    </appender>

    <!-- Root Logger 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DISCORD_INFO"/>
    </root>

    <!-- Error Logger 설정 -->
    <logger name="com.lchproject3.project3" level="error" additivity="false">
        <appender-ref ref="DISCORD_ERROR"/>
    </logger>

    <!-- Warn Logger 설정 -->
    <logger name="com.lchproject3.project3" level="warn" additivity="false">
        <appender-ref ref="DISCORD_WARN"/>
    </logger>

    <!-- Debug Logger 설정 -->
    <logger name="com.lchproject3.project3" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
